/*
 * Sidebar & Source List
 */

.source-list {
  position: relative;

  overflow-y: auto;
  align-self: stretch;
  width: 172px;

  background-color: rgba(235,235,235,0.96);
  color: rgb(111,111,111);
}

.source-list ul {
  color: rgb(111,111,111);
}

.source-list.left {
  border-right: 1px solid rgb(140,140,140);
}

.source-list li:not(:nth-child(1)) {
  height: 23px;
  padding-left: 19px;

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.source-list li img {
  display: inline-block;
  margin-top: 3px;
  margin-right: 5px;
}

.source-list li span {
  display: inline-block;
  transform: translateY(-25%);
}

.source-list li:hover {
  background-color: rgba(255,255,255,0.92);
}

.source-list li:active,
.source-list li.active {
  background-color: transparent;
  background-image: linear-gradient(rgba(0,0,0,0.11), rgba(0,0,0,0.07));
  border-top: 1px solid rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.03),
              inset 0 -1px 0 0 rgba(0,0,0,0.1);

  color: rgb(111,111,111);
  text-shadow: 0 1px rgba(255,255,255,0.4);
}

.source-list .header {
  padding: 5px 8px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

/*
 * Content Areas
 */

.container {
  display: flex;
  height: calc(100% - 51px - 48px);
}

.content {
  flex: 1;
}

.content.widgets {
  overflow-y: auto;
  padding: 24px;
  background-color: rgb(248,248,248);
}

.content.widgets .button-linked {
  margin-bottom: 24px;
}

.prefs {
  display: flex;
  flex-direction: column;
}

.prefs .item {
  display: flex;
  margin-bottom: 12px;
}

.prefs .item .left {
  align-self: center;
  flex-basis: 15%;
  margin-right: 12px;
  text-align: right;
}

.prefs .item:last-child {
  margin-bottom: 0;
  margin-top: 12px;
}

.prefs .item:last-child .left {
  text-align: left;
  flex-basis: auto;
  margin-right: auto;
}
