/*
 * Basic styling
 */

body,
nav,
div,
a,
h1,
h2,
h3,
p,
ul,
input,
label,
select
{
  margin: 0;
  padding: 0;
  
  color: rgb(51,51,51);
  font-family: 'Droid Sans', sans-serif;
  font-size: 9pt;
  list-style: none;
  
  -webkit-user-select: none;
  user-select: none;
}

svg {
  fill: rgb(98,98,98);
}

img {
  display: inline-block;
}

/*
 * Fonts
 */

.bar .header {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: 'Open Sans', sans-serif;
}

  h1 {
    font-size: 24pt;
  }

  h2 {
    font-size: 18pt;
    font-weight: 100;
  }

  h3 {
    font-size: 11pt;
  }

h4,
.header {
  color: rgb(92,92,92);
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

p {
  line-height: 1.5;
}

/*
 * Windows
 */

.window,
.popover {
  position: relative;
  overflow-y: hidden;

  display: block;
  height: 80vh;
  width: 80%;
  margin-left: 10%;
  margin-top: 10vh;

  background-color: rgb(255,255,255);
  background-clip: padding-box;

  border: 1px solid rgba(0,0,0,0.35);
  border-radius: 4px;

  box-shadow: 0 4px 16px 4px rgba(0,0,0,0.7);
}

  .control {
    display: inline-block;
    height: 22px;
    width: 22px;

    border: 1px solid rgba(0,0,0,0);
  }

    .left .control {
      margin-right: 9px;
    }

    .right .control {
      margin-left: 9px;
    }

    .control svg {
      position: relative;
      top: 3px;
      left: 3px;
    }

  .control:hover {
    border-style: solid;
    border-radius: 2.5px;
  }

  .control:hover:active {
    background-color: rgba(0,0,0,0.15);
  }

.window.dialog,
.popover {
  background-image: linear-gradient(rgb(248,248,248),
                                    rgb(248,248,248) 70%,
                                    rgb(238,238,238));
}

  /* arrow on top */
  .popover.top::before {
    position: absolute;
    top: -23px;
    z-index: 2;

    width: 0;
    height: 0;

    border: 12px solid transparent; /* arrow size */
    border-bottom-color: rgb(248,248,248);  /* arrow color */
    content: ' ';
    transition: all 200ms ease-in;
  }

  /* arrow on bottom */
  .popover.bottom::after {
    position: absolute;
    bottom: 23px;
    z-index: 2;

    width: 0;
    height: 0;

    border: 12px solid transparent;
    border-bottom-color: rgb(238,238,238);
    content: ' ';
    transition: all 200ms ease-in;
  }

/*
 * Toolbars
 */

.bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

  /* vertically center .left .right .center */
  .bar > * {
    align-items: center;
    display: flex;
  }

    /* items in .left .right .center are flex */
    .bar > * > * {
      display: flex;
    }

      .bar > * > * > * {
        align-self: baseline;
      }

    /* when there's no .center present makes .right align to the right */
    .bar > .left {
      margin-right: auto;
    }

    .bar > .center {
      flex-grow: 1;
    }

/* headerbar */
.bar.header {
  padding: 9px;
  width: calc(100% - 18px);

  background-image: linear-gradient(rgb(222,222,222), rgb(186,186,186));

  border-bottom: 1px solid rgb(124,124,124);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.2),
              inset 0 1px 0 0 rgba(255,255,255,0.6);

  text-shadow: 0 1px rgba(255,255,255,0.4);
}

/*  */
.bar.secondary {
  height: 17px;
  padding: 3px;

  background-image: linear-gradient(rgb(186,186,186), rgb(178,178,178));

  border-radius: 0;

  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3),
              inset 0 -1px 0 0 rgba(255,255,255,0.2);

  text-shadow: 0 1px rgba(255,255,255,0.4);
}

.bar.inline {
  position: absolute;
  bottom: 0;

  height: 24px;
  width: 100%;
  padding: 0;

  background-image: linear-gradient(rgb(235,235,235), rgb(250,250,250));

  border-top: 1px solid;
  border-bottom: none;
  border-color: rgb(155,155,155);
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.1),
              inset 0 -1px 0 0 rgba(0,0,0,0.06);
}

.bar.bottom {
  position: absolute;
  bottom: 0;

  height: 17px;
  width: -webkit-calc(100% - 6px);
  padding: 3px;

  background-image: linear-gradient(rgb(222,222,222), rgb(195,195,195));

  border-radius: 0 0 3px 3px;
  border-top: 1px solid rgb(124,124,124);
  border-bottom: none;

  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5),
              inset 0 -1px 0 0 rgba(255,255,255,0.2);
}

/*
 * Text Field
 */

.entry,
.check,
.radio {
  -webkit-appearance: none;
  
  display: inline-block;

  background-image: linear-gradient(rgb(237,237,237), rgb(247,247,247));
    
  border: 1px solid rgba(0,0,0,0.22);
  border-radius: 2.5px;
  
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.042),
              inset 0 0 0 1px rgba(0,0,0,0.018),
              0 1px 0 0 rgba(255,255,255,0.3);
  
  color: rgba(51,51,51);
  text-shadow: 0 1px rgba(255,255,255,0.4);
    
  padding: 4px;
  height: 14px;
  
  transition: all 200ms ease-out;
}

.entry::selection {
  background-color: rgba(61,155,218);
}

.bar .entry {
  background-clip: padding-box;
  background-image: linear-gradient(rgba(0,0,0,0.08), transparent 5px), linear-gradient(rgb(237,237,237), rgb(255,255,255));
  border-color: rgba(0,0,0,0.27);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.06),
              0 1px 0 0 rgba(255,255,255,0.3);
}

.entry:focus {
  border-color: rgba(61,155,218,0.8);
  box-shadow: inset 0 0 0 1px rgba(61,155,218,0.23),
              0 1px 0 0 rgba(255,255,255,0.3);
  transition: all 200ms ease-in;
  outline: none;
}

.entry:disabled {
  background-image: none;
  border 1px solid rgba(0,0,0,0.165);
  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.03),
              inset 0 0 0 1px rgba(0,0,0,0.012),
              0 1px 0 0 rgba(255,255,255,0.3);
  color: rgb(184,184,184);
}

.bar .entry:disabled {
  background-image: linear-gradient(rgba(0,0,0,0.05), transparent 5px);
  border-color: rgba(0,0,0,0.25);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.06),
              0 1px 0 0 rgba(255,255,255,0.3)
}

/*
 * Progress Bar
 */

.progressbar {
  -webkit-appearance: none;
  appearance: none;
  height: 12px;
}

.progressbar::-webkit-progress-bar {
  height: 12px;
  background-image: linear-gradient(rgb(244,244,244),
                                    rgb(233,233,233) 50%,
                                    rgb(206,206,206) 60%,
                                    rgb(206,206,206) 70%,
                                    rgb(233,233,233));
  border: 1px solid rgb(164,164,164);
  border-radius: 2.5px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2);
}

.progressbar::-webkit-progress-value {
  height: 12px;
  margin-top: -1px;
  margin-left: -1px;
  
  background-image: linear-gradient(rgb(79,201,255),
                                    rgb(73,186,255) 50%,
                                    rgb(66,167,235) 60%,
                                    rgb(66,167,235) 70%,
                                    rgb(79,201,255));
  border: 1px solid rgb(59,150,210);
  border-radius: 2.5px;
  
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5),
              inset 0 -1px 0 0 rgba(255,255,255,0.25);
}

.progressbar::-moz-progress-bar {
  height: 12px;
  margin-top: -1px;
  margin-left: -1px;
  
  background-image: linear-gradient(rgb(79,201,255),
                                    rgb(73,186,255) 50%,
                                    rgb(66,167,235) 60%,
                                    rgb(66,167,235) 70%,
                                    rgb(79,201,255));
  border: 1px solid rgb(59,150,210);
  border-radius: 2.5px;
  
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.5),
              inset 0 -1px 0 0 rgba(255,255,255,0.25);
}

/*
 * Scale
 */

.container.slider {
  display: inline-block;
  height: 20px;
  padding-top: 4px;
}

input[type=range] {
  -webkit-appearance: none;
  height: 4px;
  
  background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.07));
  
  border: 1px solid rgba(0,0,0,0.35);
  border-radius: 4px;
  
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.03),
              0 1px 0 0 rgba(255,255,255,0.3);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  
  background-image: linear-gradient(rgba(255,255,255,1.0), rgba(224,224,224,1.0));
  
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 50%;
  
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.096),
              inset 0 1px 0 0 rgba(255,255,255,0.864),
              inset 0 -1px 0 0 rgba(255,255,255,0.288),
              0 1px 1px rgba(0,0,0,0.15);
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-thumb {
  border: 1px solid rgba(61,155,218,0.9);
}

/*
 * Button
 */

/* background color fix */
input[type=button] {
  background-color: transparent;
}

.button {
  height: 24px;
  padding: 0 12px;
  
  background-image: linear-gradient(transparent, transparent 50%, rgba(0,0,0,0.04));
  
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 2.5px;
  
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05),
              inset 0 1px 0 0 rgba(255,255,255,0.45),
              inset 0 -1px 0 0 rgba(255,255,255,0.15),
              0 1px 0 0 rgba(255,255,255,0.15);
  
  color: rgb(51,51,51);
  text-shadow: 0 1px rgba(255,255,255,0.4);
  
  transition: all 200ms ease-in;
}

/* fixes for buttons made with anchors */
a.button {
  display: inline-block;
  height: 22px;
  
  line-height: 22px;
  text-decoration: none;
}

.bar .button {
  border-color: rgba(0,0,0,0.27);
  
  color: rgb(89,89,89);
}

.secondary .button {
  height: 16px;
  
  border-color: rgba(0,0,0,0.3);
  
  line-height: 18px;
}

.button:focus {
  outline: none;
  
  border-color: rgb(61,155,218);
  
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05),
              inset 0 1px 0 0 rgba(255,255,255,0.45),
              inset 0 -1px 0 0 rgba(255,255,255,0.15),
              0 0 0 1px rgba(61,155,218,0.25);
  
  color: rgb(51,51,51);
  
  transition: all 100ms ease-out;
}

.button:focus svg {
  fill: rgb(51,51,51);
}

.bar .button.icon {
  padding: 4px;
  margin: 3px;
  
  background: transparent;

  border-color: transparent;
  border-radius: 50%;
  
  box-shadow: none;
}

.button.icon img {
  margin-top: -1px;
}

.button:active,
.button.active,
.button.icon:active,
.button.icon.active,
.window.control:hover {
  outline: none;
  background-color: rgba(0,0,0,0.05);
  border-color: rgba(0,0,0,0.25);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05),
              0 1px 0 0 rgba(255,255,255,0.3);
}

.bar .button.icon:active,
.bar .button.icon.active {
  background-color: rgba(0,0,0,0.1);
  border-color: transparent;
  box-shadow: none;
}

.button.help {
  padding: 0;
  width: 24px;
  border-radius: 50%;
  text-align: center;
}

.button.suggested {
  background-image: linear-gradient(rgb(79,202,255), rgb(61,155,218));
  
  border-color: rgb(55,140,196);
  
  color: rgb(255,255,255);
  text-shadow: 0 1px rgba(0,0,0,0.3);
}

.button.destructive {
  background-image: linear-gradient(rgb(255,60,68), rgb(201,46,52));
  
  border-color: rgb(181,41,47);
  
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.05),
              inset 0 1px 0 0 rgba(255,255,255,0.25),
              inset 0 -1px 0 0 rgba(255,255,255,0.1),
              0 1px 0 0 rgba(255,255,255,0.15);
  
  color: rgb(255,255,255);
  text-shadow: 0 1px rgba(0,0,0,0.2);
}

.button.flat,
.button.combo.flat {
  padding: 0 6px;

  background: transparent;
  border-color: transparent;
  box-shadow: none;
}

.bar.inline .button.flat {
  display: inline-block;
  float: left;
  padding: 0;
  width: 24px;

  border-radius: 0;
}

.bar.inline .left .button.flat {
  border-right: 1px solid rgba(0,0,0,0.2);
}

.bar.inline .right .button.flat {
  border-left: 1px solid rgba(0,0,0,0.2);
}

.bar.inline svg {
  position: relative;
  left: 4px;
}

.button.flat:hover {
  color: rgb(40,101,142);
}

.bar.inline .button.flat:active {
  background-color: rgba(0,0,0,0.1);
  box-shadow: none;
}

.button.flat:active,
.button.flat.active {
  background-color: rgba(0,0,0,0.1);
  border-color: rgba(0,0,0,0.2);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.025),
              inset 0 1px 0 0 rgba(0,0,0,0.05),
              0 1px 0 0 rgba(255,255,255,0.4);
}

/*
 * Spin Entry
 */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  
  display: inline-block;
  margin-top: -16px;
  margin-right: 7px;
  height: 44px;
  width: 23px;
  
  background-image: url("assets/spin.png");
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom-left-radius: 3.5px;
  border-bottom-right-radius: 3.5px;
  
  opacity: 1.0;
  transform: rotate(-90deg);
}

/*
 * Linked Button
 */

.button-linked {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;

  text-align: center;
}

.button-linked .button {
  padding: 0;
}

.button.left {
  flex: 1;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button.center {
  flex: 1;

  border-radius: 0;
  border-left: none;
}

.button.right {
  flex: 1;

  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*
 * ComboBox
 */

/* background color fix */
select {
  background-color: transparent;
}

.button.combo {
  padding-left: 2px;
}

/*
 * Checkboxes and Radios
 */

.check,
.radio {
  height: 14px;
  width: 14px;
  margin: 3px;
}

.check:focus,
.radio:focus {
  outline: none;
}

.check:hover,
.radio:hover {
  border-color: rgb(61,155,218);
}

.check:checked {
  background-image: url("assets/check-active.svg");
  background-position: center;
  border: none;
}

.radio {
  border-radius: 50%;
}

.radio:checked {
  background-image: url("assets/radio-active.svg");
  background-position: center;
  border: none;
}

/*
 * Switch
 */



/*
 * Desktop
 */

html {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  cursor: default;
}

body {
  width: 100vw:
  min-height: 100vh;

  background-image: url("Wild%20Night.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  width: 100vw;
  height: 32px;
}

nav * {
  align-self: center;

  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px 3px rgba(0,0,0,0.7);

  color: #fff;
}

nav .slingshot {
  margin-left: 10px;
}

nav #datetime {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

nav .indicator:not(#datetime) {
  height: 16px;
  padding: 8px;
  margin: 0 4px;
}

nav .indicator#session {
  padding-top: 0;
  margin-right: 0;
  padding-right: 4px;
}

.indicator img {
  -webkit-filter: drop-shadow(0 1px 1px rgba(0,0,0,1.0));
  filter: drop-shadow(0 1px 1px rgba(0,0,0,0.7));
}
